<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Fill the form</h1>
        </div>
        <br>
        <form method=POST enctype=multipart/form-data action="{{ url_for('form') }}">
            <div class="row">
                <h4>Select video file:</h4>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="file" name="file" id="file" class="form-control-file">
                </div>
            </div>
            <br><br>
            <div class="row">
                <h4>Select the number of clothing items you want to find:</h4>
            </div>
            <div class="row">
                <div class="form-group">
                    {{form.amount(class_="form-control")}}
                </div>
            </div>
            <br><br>
            <div class="row">
                <h4>Select category and colour for each item:</h4>
            </div>
            <div id="blocks">
                <div class="block">
                    <div class="row">
                        <div class="col"><div class="form-group"> {{form.category(class_="form-control")}}</div></div>
                        <div class="col"><div class="form-group">{{form.colour(class_="form-control")}}</div></div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </form>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $('#amount').change(function(){
        var amountSelect = document.getElementById('amount');
        var amount = amountSelect.options[amountSelect.selectedIndex].value;
        var block = $('.block').clone();
        block = "<div class='block'>" + block.html() + "</div>";
        $('.block').remove();
        for (i = 1; i <= parseInt(amount); i++) {
            $('#blocks').append(block);
        }
    })
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>